[submodule "repositories/config-templates"]
	path = repositories/config-templates
	url = https://github.com/recyclarr/config-templates.git
[submodule "repositories/trash-guides"]
	path = repositories/trash-guides
	url = https://github.com/TRaSH-Guides/Guides.git
[submodule "repositories/my-configs"]
	path = repositories/my-configs
	url = git@github.com:Jurrer/recyclarr-config-templates.git
